
body#admin #app{

    $color-black: #000000;
    $color-white: #ffffff;
    $color-grey: #dddddd;

    .orders-links{
      
      nav{
        position: relative;
        padding: 10px 0;
        margin-left: 0px;
        .page-item.active .page-link {
          background-color: #82b6aa;
          color: white;
          border-color: #82b6aa;
      }

      li{
        margin-right: 15px;
        margin-left: 0px;
      }
      .page-link{
        color: #82b6aa;
      }
      }
    }
    .editor {
        // width: 100%;
        padding: 20px;
        outline: none;
        border: 1px solid;

        position: relative;
        // max-width: 60rem;
        // margin: 0 auto 5rem auto;
      
        .ProseMirror{
          outline: none;

        }

        &__content {
      
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-word;
      
          * {
            caret-color: currentColor;
          }
      
          pre {
            padding: 0.7rem 1rem;
            border-radius: 5px;
            background: $color-black;
            color: $color-white;
            font-size: 0.8rem;
            overflow-x: auto;
      
            code {
              display: block;
            }
          }
      
          p code {
            padding: 0.2rem 0.4rem;
            border-radius: 5px;
            font-size: 0.8rem;
            font-weight: bold;
            background: rgba($color-black, 0.1);
            color: rgba($color-black, 0.8);
          }
      
          ul,
          ol {
            padding-left: 1rem;
          }
      
          li > p,
          li > ol,
          li > ul {
            margin: 0;
          }
      
          a {
            color: inherit;
          }
      
          blockquote {
            border-left: 3px solid rgba($color-black, 0.1);
            color: rgba($color-black, 0.8);
            padding-left: 0.8rem;
            font-style: italic;
      
            p {
              margin: 0;
            }
          }
      
          img {
            max-width: 100%;
            border-radius: 3px;
          }
      
          table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            margin: 0;
            overflow: hidden;
      
            td, th {
              min-width: 1em;
              border: 2px solid $color-grey;
              padding: 3px 5px;
              vertical-align: top;
              box-sizing: border-box;
              position: relative;
              > * {
                margin-bottom: 0;
              }
            }
      
            th {
              font-weight: bold;
              text-align: left;
            }
      
            .selectedCell:after {
              z-index: 2;
              position: absolute;
              content: "";
              left: 0; right: 0; top: 0; bottom: 0;
              background: rgba(200, 200, 255, 0.4);
              pointer-events: none;
            }
      
            .column-resize-handle {
              position: absolute;
              right: -2px; top: 0; bottom: 0;
              width: 4px;
              z-index: 20;
              background-color: #adf;
              pointer-events: none;
            }
          }
      
          .tableWrapper {
            margin: 1em 0;
            overflow-x: auto;
          }
      
          .resize-cursor {
            cursor: ew-resize;
            cursor: col-resize;
          }
      
        }

        .menubar {

            margin-bottom: 1rem;
            transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
          
            &.is-hidden {
              visibility: hidden;
              opacity: 0;
            }
          
            &.is-focused {
              visibility: visible;
              opacity: 1;
              transition: visibility 0.2s, opacity 0.2s;
            }
          
            &__button {
              font-weight: bold;
              display: inline-flex;
              background: transparent;
              border: 0;
              color: $color-black;
              padding: 0.2rem 0.5rem;
              margin-right: 0.2rem;
              border-radius: 3px;
              cursor: pointer;
          
              &:hover {
                background-color: rgba($color-black, 0.05);
              }
          
              &.is-active {
                background-color: rgba($color-black, 0.1);
              }
            }
          
            span#{&}__button {
              font-size: 13.3333px;
            }
          }
      }
    


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "navbar navbar navbar navbar navbar" "nav-left content content content content" "nav-left content content content content" "nav-left content content content content" "nav-left content content content content" "nav-left content content content content" "nav-left content content content content" "nav-left content content content content";

    //.navbar { }
    nav.navbar{
        grid-area: navbar; 
        background-color: #82B6AA;
        //color: white;
        a.navbar-brand{
            width: 150px;
            
            img{
                width: 100%;
                height: auto;
            }
        }
        .nav-item{
            .nav-link{
                color: white;
                font-size: 1.2em;
            }
        }
    }

    nav.navbar-left { 
        position: relative;
        grid-area: nav-left;
        background-color: #F1F7F7;
        padding: 60px 0px;
        border-right: 5px solid #82B6AA;
        ul{
            flex-direction: column;
            .nav-item{
                margin-right: 40px;
                margin-bottom: 15px;

                .nav-link{
                    padding: 0;
                    text-align: left;
                    font-size: 1.2em;
                    color: #82B6AA;
                    letter-spacing: 0;
                    border-bottom: 2px solid;
                    transition-duration: 0.35s;
                    &:hover{
                        color: #993E2A;
                    }
                    i{
                        float: right;
                    }
                   
                }
                &.active{
                    .nav-link{
                        color: #993E2A;
                    }
                }
            }
            p{
                // margin-right: 15px;
                font-family: "Poppins", sans-serif;
                font-size: 2.6em;
                font-weight: 600;
                color: #993E2A;
                // margin-top: 50px;
                // margin-bottom: 25px;
                // margin-left: 40px;

                margin: 50px 15px 25px 40px;
                text-align: left;
                text-transform: uppercase;
            }
        } 
    }

    .content{
        grid-area: content;
        overflow-y: scroll;
        padding: 50px;
        .button{
            height: 35px;
            width: 35px;
            background-color: #82B6AA;
            color: white;
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 1.2em;
            border: none;

            &:hover{
                text-decoration: none;
            }
            // i{

            // }
        }

        h1{
            color: #993E2A;
            text-transform: uppercase;
            font-size: 4em;
            font-weight: 700;
        }
        
        table{
            width: 100%;
            colgroup{
                col{
                    background-color: #f1f7f7;
                    border: 1px solid #daecec;
                    // &:nth-child(2n) {background: #F1F7F7}

                }
            }
            tr{
                height: max-content;
                min-height: 100px;
                border-bottom: 2px solid #82b6aa;
                th{
                    padding: 20px;
                    height: 30px;
                    color: #82B6AA;
                    font-size: 1.3em;
                }
                td{
                    padding: 20px;
                    height: 50px;

                    img{
                        height: 30px;
                        width: auto;
                        border: 1px solid #82B6AA;
                    }
                }

            }


        }
    }
    form{
        .form-group{
            label{
                color: #993e2a;
                font-weight: 500;
            }

            .form-control{
                border: 1px solid #993e2a;
                border-radius: 0;
            }

            button{
                background-color: #82B6AA;
                border-radius: 0;
                border: none;
            }
        }
    }
        .img-index{
            display: flex;
            flex-wrap: wrap;
            width: 300px;
            img{
                height: 60px;
                width: auto;
                border: 1px solid #82B6AA;

               
            }
        }
    
    
    .sortable-drag{
        opacity: 0;
    }
    .my-handle{
        cursor: pointer;
        display: flex;
        justify-content: center;
        color: #82b6aa;
        font-size: 1.5em;
    }
    
}


  
  
